<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Anime Character Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
</head>
<body>
<div>
  <img id="generated-image"/>
  <button>Generate</button>
</div>
<img id="example-images" src="{{ url_for('static', filename='images/image.png') }}"
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
